{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence Lorem ipsum</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo aspernatur, ut enim iure quos ullam iusto dolorum non. Aspernatur adipisci corporis odit ipsa, consequuntur mollitia soluta harum consequatur necessitatibus.</p>
	</div>

	<div class="container">
		<h1>Les derniers biens</h1>

		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('agency_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>

							<p class="card-text">{{ property.city }}
								({{ property.zipcode }})</p>

							<div class="text-success" style="font-weight: bold; font-size: 2rem;">{{ property.getFormattedPrice }}
								€</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
